:root {
  --color-light: #fff;
  --color-dark: #000;
  --color-grey: #bbb;
}

/* :root {
  --color-light: #000;
  --color-dark: #fff;
  --color-grey: #444;
} */

body {
  margin: 0;
  background: var(--color-light);
  font-family: monospace, sans-serif;
}

.modulo-container {
  padding: 8px;
}

.modulo-module {
  border-left: 8px solid var(--color-grey);
  margin-bottom: 8px;
  border-radius: 8px;
}

.modulo-module:last-child {
  margin-bottom: 0px;
}

.modulo-title {
  font-weight: 900;
  padding: 8px;
  font-family: sans-serif;
  color: var(--color-grey);
  padding-top: 0;
}

.modulo-content {
  padding: 8px;
  padding-top: 0;
  color: var(--color-dark);
}
